
    .section-title{
        color: #181818;
        text-align: center;
        font-size: 35px;
        font-weight: 700;
}
/* Nav related style*/
nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0px 200px;
}
nav >ul{
    display: flex;
    align-items: center;
    t
}
nav li{
    list-style: none;
    margin-right: 50px;
    text-decoration: none;
}
.nav-title{
    color: #181818;
font-size: 45px;
font-style: normal;
}
.text-primary{
    color: #FD6E0A;
}
.button-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: var(--white-color, #FFF);
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}
/* Header related style */
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding:30px 0px  0px  150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pro-pic{
    width: 584px;
    height: 676px;
    flex-shrink: 0;
    padding: 0;
}
.button-contact{
    color: #FD6E0A;
text-align: center;
font-size: 20px;
font-weight: 700;
background-color: white;
/* border: 0 ; */
border-color:#FD6E0A ;
padding: 10px;
}
.banner-content{
    max-width: 500px;
}
.banner-greating{
    font-size: 45px;
    color: var(--dark-02, #474747);
    margin-bottom: 0;
    

}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top:5px;
    margin-bottom: 20px;
}
.pro-pic2{
    /* transform: rotate(-90deg);  */
 color: rgba(24, 24, 24, 0.15);
 font-size: 100px;
font-weight: 700;
letter-spacing: 33px;


} 
/* main section style */
main{
    max-width: 1140px;
    margin: auto;
    
}
/* abiut section */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px ;

}
.section-descrription{
    color: var#757575;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-inf{
    text-align: center;
}